.HomePageContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    background-color: #f6f7fb;

    .DashBoardContainer{
        width: 1200px;
        height: 600px;
        border-radius: 14px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 100px;

        .NavBarContainer{
            height: 100%;
            width: 220px;
            background-color: #282BAB;
            border-top-left-radius: 14px;
            border-bottom-left-radius: 14px;
            ul{
                list-style: none;
                color: #f6f7fb;
                font-size: 1rem;
                padding-top: 100px;
                li{
                    width: 100%;
                    height: 50px;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                    padding-left: 20px;

                    &:hover{
                        cursor: pointer;
                        background: rgba(255,255,255,0.06); 
                    }
                }
                .LogOutLink{
                    margin-top: 290px;
                }
                
            }
        }

        .ContentContainer{
            height: 100%;
            width: 100%;
            background-color: #FFFFFF;
            border-top-right-radius: 14px;
            border-bottom-right-radius: 14px;
        }
    }
}