*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;  
    -ms-user-select: none;  
}

.App{
    width: 100vw;
    height: 100vh;
}